:root {
  --header-height: 40px;
  --theme-color: #d63369;
  --sidebar-width: 270px;
}

* {
  margin: 0;
  padding: 0;
  /* border: none; */
  outline: none;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ruby[data-ruby]
{
	position: relative;
}
ruby[data-ruby]::before
{
	content: attr(data-ruby);
	position: absolute;
	line-height: 100%;
	text-align: center;
	left: -2em;
	right: -2em;
	transform-origin: bottom center;
	/* ルビの文字サイズを親文字に対する比率で指定 */
	transform: scale(0.5);
	/* 100%を越える部分が親文字とルビとのスペースになる。単位は親文字に対する比率 */
	bottom: 105%;
	/* デバッグ用 */
	/* background-color: rgba(255, 0, 0, 0.2); */
}
ruby[data-ruby] rt
{
	display: none;
}

.generalButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  border: 2px solid black;
  border-radius: 16px;
  line-height: 1;
  font-size: 16px;
  font-weight: 600;
  padding: 0px 36px;
  transition: all 0.21s ease-in-out 0s;
  cursor: pointer;
  color: black;
  background: white;

  &:hover {
    color: white;
    background: var(--theme-color);
    border-color: var(--theme-color);
  }
}
