
.docs {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 900px) {
    width: 100%;
  }

  .commentary, .question {
    h1, h2, h3, h4, h5 {
      margin-top: 3rem;
      line-height: 1.27;
      font-weight: 500;
      color: #000;
    }

    h1 {
      margin-bottom: 1.2rem;
      font-size: 2.4rem;
      font-weight: 700;
    }

    h1:first-child {
      margin-top: 0;
    }

    h2 {
      font-size: 1.8rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.27rem;
    }

    h5 {
      font-size: 1rem;
    }

    p {
      margin-top: 1.5rem;
      line-height: 1.5;
    }

    img {
      max-width: 100%;
      border-radius: 6px;
    }

    video {
      max-width: 100%;
      border-radius: 6px;

      &.is-paused {
        cursor: url('/play_circle.svg'), pointer;
      }
    }

    code {
      font-family: 'Dank Mono', 'Source Code Pro', 'Courier Prime Code', Courier, monospace;
    }

    samp {
      font-family: 'Source Code Pro', monospace;
      font-weight: 700;

      &::before,
      &::after {
        color: #666;
        content: '/'
      }
    }

    pre {
      box-sizing: border-box;
      overflow-x: auto;
      width: 100%;
      margin-top: 1.5rem;
      border-radius: 6px;
      line-height: 1.5;
      color: #333;
      background-color: #f8f8f8;
      white-space: pre;
      -webkit-overflow-scrolling: touch;

      & > code {
        display: block;
        padding: 1.5rem;

        .bash_prompt {
          color: #bbb;
          user-select: none;
        }
      }
    }

    :not(pre) > code {
      display: inline;
      white-space: pre-wrap;
      color: var(--theme-color);

      &::before,
      &::after {
        color: currentColor;
        content: '`'
      }
    }

    details {
      margin: 1.5rem 0;
      padding: 0.5rem 1rem;
      background: #fafafa;
      border: 1px solid #eaeaea;
      border-radius: 6px;

      &[open] {
        overflow: hidden;
      }

      & > * {
        margin: 0;
      }
      & > summary {
        font-weight: 500;
        outline: none;
        cursor: pointer;
      }
    }

    blockquote {
      color: #666;
      padding: 0.3rem 1.5rem;
      margin: 1.5rem 0;
      border-left: 2px solid #ccc;

      p {
        margin: 0;
      }
      a {
        box-shadow: none;
      }
    }

    hr {
      border: 0;
      border-top: 1px solid #eaeaea;
      margin-top: 1.5rem;
    }

    ul, ol {
      padding-left: 1.5rem;
      margin-top: 1.5rem;
    }

    ol {
      list-style-type: decimal;
    }

    li + li {
      margin-top: 0.6rem;
    }

    ul li:before {
      position: absolute;
      margin-left: -1rem;
      color: #aaa;
      content: '-';
    }
  }

  .question {
    font-family: 'Kiwi Maru', serif;
    padding-left: 360px;

    @media screen and (max-width: 900px) {
      width: 90%;
      margin: 5vw auto 0;
      padding-left: 0;
    }
  }
}

.cookies-image {
  width: 50px;
  height: 50px;
  background: url("/cookies.png") no-repeat;
}
.cookies-image-1 {background-position: 0 0;}
.cookies-image-2 {background-position: -50px 0;}
.cookies-image-3 {background-position: -100px 0;}
.cookies-image-4 {background-position: -150px 0;}
.cookies-image-5 {background-position: -200px 0;}
.cookies-image-6 {background-position: -250px 0;}
.cookies-image-7 {background-position: 0 -50px;}
.cookies-image-8 {background-position: -50px -50px;}
.cookies-image-9 {background-position: -100px -50px;}
.cookies-image-10 {background-position: -150px -50px;}
.cookies-image-11 {background-position: -200px -50px;}
.cookies-image-12 {background-position: -250px -50px;}
.cookies-image-13 {background-position: 0 -100px;}
.cookies-image-14 {background-position: -50px -100px;}
.cookies-image-15 {background-position: -100px -100px;}
.cookies-image-16 {background-position: -150px -100px;}
.cookies-image-17 {background-position: -200px -100px;}
.cookies-image-18 {background-position: -250px -100px;}
.cookies-image-19 {background-position: 0 -150px;}
.cookies-image-20 {background-position: -50px -150px;}
.cookies-image-21 {background-position: -100px -150px;}
.cookies-image-22 {background-position: -150px -150px;}
.cookies-image-23 {background-position: -200px -150px;}
.cookies-image-24 {background-position: -250px -150px;}
.cookies-image-25 {background-position: 0 -200px;}
.cookies-image-26 {background-position: -50px -200px;}
.cookies-image-27 {background-position: -100px -200px;}
.cookies-image-28 {background-position: -150px -200px;}
.cookies-image-29 {background-position: -200px -200px;}
.cookies-image-30 {background-position: -250px -200px;}
.cookies-image-31 {background-position: 0 -250px;}
.cookies-image-32 {background-position: -50px -250px;}
.cookies-image-33 {background-position: -100px -250px;}
.cookies-image-34 {background-position: -150px -250px;}
.cookies-image-35 {background-position: -200px -250px;}
.cookies-image-36 {background-position: -250px -250px;}

.progress {
  height: 3px;
  background: #e4e3e3;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;

  .progress-bar {
    box-shadow: none;
    position: relative;
    background: var(--theme-color);
    height: 3px;
    width: 100%;
    transition: width 30ms 0s linear;
  }

  .transition-off {
    transition: none;
  }

  .progress-bar:after{
    content: "";
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    position: absolute;
    top: -8px;
    right: 4px;
    transform: rotate(45deg);
    background: var(--theme-color);
    outline: 2px solid var(--theme-color);
  }
}
