header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: var(--header-height);
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(6px);

  &.scrollable {
    @media screen and (max-width: 900px) {
      position: relative;
    }
  }

  .small {
    height: 60px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }

  h1 a {
    display: inline-block;
    width: 90px;
    height: 2rem;
    vertical-align: middle;

    svg {
      width: auto;
      height: 2rem;
    }
  }

  nav ul {
    li + li {
      margin-left: 20px;
    }

    li {
      float: left;
      height: 34px;

      a {
        font-size: 13px;
        line-height: 24px;
        color: #333;
        vertical-align: text-top;

        &:hover {
          color: #000;
        }
      }
      a.icon {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0.7;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }

        svg {
          display: inline-block;
          width: 30px;
          height: 30px;
        }

        span {
          margin-left: 3px;
          font-size: 1.2rem;
        }
      }
    }
  }
}
